<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="css, html5, css framework"/>
    <meta name="description" content="{{ head_description }}"/>
    <link rel="stylesheet" type="text/css" href="{{ base_path }}css/style.css">
    <link rel="stylesheet" href="https://cdn.yankowski.eu/css/logo/youaresologo.css">
    <meta name="author" content="{{ author }}">
    <title>{{ title }} - Roman Jankowski</title>
  </head>
  <body>
    <section>
      <header>
        <nav>
          <ul>
            <li><a href="https://yankowski.eu"><i class="youaresologo blue-grotto m"></i></a></li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li><a href="{{ base_path }}">Home</a></li>
        <li><a href="{{ base_path }}blog/">Blog</a></li>
        <li><a href="{{ base_path }}projects/">Projects</a></li>
        <li><a href="{{ base_path }}about/">About</a></li>
          </ul>
        </nav>
      </header>
      {{ content }}
    </section>
    <section>
      <article>
        <nav>
          <ul>
            <li>
              <small>Except where otherwise noted, content on this site is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International license</a></small>
            </li>
          </ul>
        </nav>
        <nav>
          <ul>
            <li><small><a href="https://github.com/youaresoroman">GitHub</a></small></li>
            <li><small><a href="https://www.linkedin.com/in/youaresoroman">Linkedin</a></small></li>
            <li><small><a href="https://www.facebook.com/youaresoroman">Facebook</a></small></li>
          </ul>
        </nav>
        </article>
      </section>
</body>
</html>
